@model PropertyManage.Domain.Product
<div id="edit-product-type">
    <div class="content-box">
        <div class="box-body">
            <div class="box-header clear">
                <h2>
                    Edit Land
                </h2>
            </div>
            <div class="box-wrap clear">
                <div class="form bt-space15">
                    @using (Html.BeginForm("Edit", "Product"))
                    {
                        @Html.HiddenFor(m => m.ProductId)
                        <div class="columns clear bt-space15">
                            <div class="form-field clear">
                                <div class="form-label size-120 fl-space2">
                                    @Html.LabelFor(m => m.Name)
                                </div>
                                <div class="text fl-space2">
                                    @Html.TextBoxFor(m => m.Name)
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                            </div>
                            <div class="form-field clear">
                                <div class="form-label size-120 fl-space2">
                                    @Html.LabelFor(m => m.CategoryId, "Land Type")
                                </div>
                                <div class="text fl-space2">
                                    @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryId)
                                    @Html.ValidationMessageFor(m => m.CategoryId)
                                </div>
                            </div>
                            <div class="form-field clear">
                                <div class="form-label size-120 fl-space2">
                                    @Html.LabelFor(m => m.ProductId, "Project Name")
                                </div>
                                <div class="text fl-space2">
                                    @Html.DropDownListFor(m => m.ProjectId, (IEnumerable<SelectListItem>)ViewBag.ProjectId)
                                    @Html.ValidationMessageFor(m => m.ProductId)
                                </div>
                            </div>
                            <div class="form-field clear">
                                <div class="form-label size-120 fl-space2">
                                    @Html.LabelFor(m => m.MainCost)
                                </div>
                                <div class="text fl-space2">
                                    @Html.TextBoxFor(m => m.MainCost)
                                    @Html.ValidationMessageFor(m => m.MainCost)
                                </div>
                            </div>
                            <div class="form-field clear">
                                <div class="form-label size-120 fl-space2">
                                    @Html.LabelFor(m => m.OtherCost)
                                </div>
                                <div class="text fl-space2">
                                    @Html.TextBoxFor(m => m.OtherCost)
                                    @Html.ValidationMessageFor(m => m.OtherCost)
                                </div>
                            </div>
                            <div class="form-field clear">
                                <div class="form-label size-120 fl-space2">
                                    @Html.LabelFor(m => m.Description)
                                </div>
                                <div class="text fl-space2">
                                    @Html.TextBoxFor(m => m.Description)
                                    @Html.ValidationMessageFor(m => m.Description)
                                </div>
                            </div>
                        </div>
                        <div class="rule2">
                        </div>
                        <div class="clear">
                            <input class="button green" type="submit" value="Edit" />
                            | @Html.ActionLink("Cencel", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
