<ul class="clear">
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Dashboard/Index")">Dashboard</a></li>
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Purchase")">Purchase</a></li>
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Inventory")">Inventory</a> </li>
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Account")">Account</a></li>
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Human")">HR</a></li>
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Sale")">Sales</a></li>
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Report")">Reports</a></li>
    <li class="@Html.RenderActiveTab()"><a href="@Url.Content("~/Setting")">Settings</a></li>
</ul>
